<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88590059598-nab1ot3s0rkrb3fd1okb0ak4hfh9vnvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88590059598-nab1ot3s0rkrb3fd1okb0ak4hfh9vnvc</string>
	<key>API_KEY</key>
	<string>AIzaSyBvjf9mIvqxIDbszu8fPx2KTenVUW-CDT4</string>
	<key>GCM_SENDER_ID</key>
	<string>88590059598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.articyoulate.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-6a71a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-6a71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88590059598:ios:f971378e69c9ae7c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-6a71a.firebaseio.com</string>
</dict>
</plist>